/* Layout */
$max-content-width: 1200px;
$header-height: 64px;

/* Z-Index */
$z-index-base: 1;
$z-index-header: 100;
$z-index-modal: 1000;

/* Animations */
$transition-speed: 0.3s;
$transition-func: ease-in-out;
