.overlay {
  pointer-events: none;

  position: fixed;
  z-index: 100;
  top: $header-height-sm;
  left: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - $header-height-sm);
  height: calc(100dvh - $header-height-sm);

  visibility: hidden;
  opacity: 0;
  background-color: var(--bg-color);

  transition:
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s ease-in-out,
    visibility 0s linear 0.4s;

  &.isOpen {
    pointer-events: auto;

    transform: translateX(0);

    visibility: visible;
    opacity: 1;

    transition:
      transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      opacity 0.4s ease-in-out,
      visibility 0s linear 0s;
  }

  @include on-tablet {
    display: none;
  }
}

.navWrapper {
  display: flex;
  flex: 1;
  justify-content: center;

  padding-block: 24px;
  padding-inline: 16px;
}

.actionsGrid {
  display: flex;
  border-top: 1px solid var(--border-color);
}

.actionLink {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 1px;
  background-color: var(--border-color);
}

.actionIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
