.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: -1px var(--border-color);
}

.headerContent {
  position: relative;

  @include page-grid;

  align-items: center;
  height: $header-height-sm;

  @include on-desktop {
    height: $header-height-lg;
  }
}

.logoIcon {
  width: $logo-width-sm;
  height: $logo-height-sm;

  fill: red;
}

.burgerMenu {
  position: absolute;
  right: -16px;

  width: 48px;
  height: 100%;

  border: none;
  background: transparent;
  outline: none;
  border-left: 1px solid var(--border-color);
  @include on-tablet {
    display: none;
  }
}

.menuIcon {
  width: 16px;
  height: 16px;

  fill: var(--text-primary);
}
