// .header {
//   height: var(--header-height);
//   background-color: var(--c-bg-header);
//   border-bottom: 1px solid var(--c-border);
//   display: flex;
//   justify-content: center;
// }

// .container {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   padding: 0 16px;
//   @include on-tablet {
//     padding: 0 24px;
//   }
//   @include on-desktop {
//     max-width: 1136px;
//     padding: 0;
//   }
// }

// .navLink {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   color: var(--c-text-secondary);
//   text-decoration: none;
//   font-size: 12px;
//   font-weight: 700;
//   text-transform: uppercase;
//   transition: color 0.3s ease;
//   border-bottom: 3px solid transparent;

//   &:hover {
//     color: var(--c-text-primary);
//   }

//   &.isActive {
//     color: var(--c-text-primary);
//     border-bottom-color: var(--c-accent);
//   }
// }

// .actions {
//   display: flex;
//   height: 100%;
//   border-left: 1px solid var(--c-border);
// }

// .actionBlock {
//   display: none;
//   height: 100%;
//   width: 64px;
//   align-items: center;
//   justify-content: center;
//   color: var(--c-text-primary);
//   text-decoration: none;
//   border-right: 1px solid var(--c-border);
//   position: relative;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: rgba(255, 255, 255, 0.05);
//   }

//   @include on-tablet {
//     display: flex;
//   }
// }

// .burgerMenu {
//   display: flex;
//   width: 48px;
//   align-items: center;
//   justify-content: center;
//   background: none;
//   border: none;
//   // border-right: 1px solid var(--c-border);
//   color: var(--c-text-primary);
//   cursor: pointer;

//   @include on-tablet {
//     display: none;
//   }
// }

// .textLine {
//   font-size: 20px;
//   font-weight: 900;
//   line-height: 1;
//   letter-spacing: 0.5px;
//   text-transform: uppercase;
// }

// .emoji {
//   font-style: normal;
//   font-weight: normal;
// }

.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: -1px 0px 0px var(--border-color);
}

.headerContent {
  position: relative;
  @include page-grid;
  height: $header-height-sm;
  align-items: center;
  @include on-desktop {
    height: $header-height-lg;
  }
}

.logoIcon {
  fill: red;
  width: $logo-width-sm;
  height: $logo-height-sm;
}

.nav {
  display: none;
}

.actions {
  display: none;
}

.burgerMenu {
  position: absolute;
  right: -16px;
  width: 48px;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  border-left: 1px solid var(--border-color);
}

.menuIcon {
  width: 16px;
  height: 16px;
  // padding: 16px;

  fill: var(--text-primary);
}
