.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: -1px var(--border-color);
}

.headerContent {
  position: relative;

  @include page-grid;

  align-items: center;
  height: $header-height-sm;

  @include on-desktop {
    height: $header-height-lg;
  }
}

.logoLink {
  display: block;
  width: $logo-width-sm;
  height: 100%;
  padding-top: 19.5px;
}

.logoIcon {
  width: $logo-width-sm;
  height: $logo-height-sm;

  fill: var(--text-primary);

  @include on-desktop {
    width: $logo-width-lg;
    height: $logo-height-lg;
  }
}

.burgerMenu {
  position: absolute;
  right: -16px;

  width: 48px;
  height: 100%;

  border: none;
  background: transparent;
  outline: none;
  border-left: 1px solid var(--border-color);
  @include on-tablet {
    display: none;
  }
}

.menuIcon {
  width: 16px;
  height: 16px;

  fill: var(--text-primary);
}

.navWrapper {
  display: none;
  @include on-tablet {
    display: grid;
    grid-column: 3 / 8;
  }
  @include on-desktop {
    grid-column: 4 / 12;
  }
}

.actionWrapper {
  display: none;
  @include on-tablet {
    display: grid;
    grid-column: 9 / 13;
    margin-right: -24px;
  }
  @include on-desktop {
    grid-column: 21 / 25;
    margin-right: -32px;
  }
}
