.navItem {
  text-align: center;
}

.navLink {
  font-family: Mont, Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

// .isActive {
// }
