.actions {
  width: 100%;
  @include on-tablet {
    margin-left: auto;
  }
}
.actionsList {
  display: flex;

  @include on-tablet {
    justify-content: flex-end;
  }
}

.actionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }

  @include on-tablet {
    flex: 0;
    &:not(:last-child) {
      border-left: 1px solid var(--border-color);
    }
  }
}

.actionBlock {
  display: block;
  padding-inline: 72px;
  padding-block: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  @include on-tablet {
    padding-inline: 16px;
    padding-block: 16px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.heartIcon,
.cartIcon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--text-primary);
}

.isActive {
  position: relative;
  color: var(--text-primary);
}

.isActive:after {
  content: '';

  position: absolute;
  bottom: 0px;

  display: block;
  width: 100%;
  left: 0px;
  height: 2px;

  background-color: var(--text-primary);
}
